// COLOR VARIABLES
$color-primary: #E58411;
$color-primary-light: #F6973F;
$color-secondary: #0D1B39;
$color-white : #fff;
$color-white-2 : #F7F7F7;
$color-white-3 : #FAFAFA;
$color-black: #1E1E1E;
$color-grey: #EEEEEE;
$color-grey-2: #8D8D8D;
// FONT VARIABLES
$font: "Questrial", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px


    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
}

.icon-button {
    font-family: $font;
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    color: $color-primary;
    cursor: pointer;
}