.features {
    margin-top: 24rem;
    display: flex;
    flex-direction: column;
    gap: 27rem;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;



        &--desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            max-width: 80%;

            &--reverse {
                justify-self: end;
            }

            &--name {
                color: $color-primary;
                font-weight: 600;
                font-size: 1.8rem;
            }

            & button {
                margin-top: 4rem;
            }
        }
    }
}